@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}



@layer base {
  h1 {
    @apply text-5xl font-extrabold text-white;
  }
  h2 {
    @apply text-4xl font-bold text-white;
  }
  h3 {
    @apply text-3xl font-bold text-white;
  }
  h4 {
    @apply text-2xl font-bold text-white;
  }
  h5 {
    @apply text-xl font-bold text-white;
  }
  h6 {
    @apply text-lg font-bold text-white;
  }
  strong {
    @apply font-semibold text-white;
  }
  u {
    @apply underline;
  }
  em {
    @apply italic;
  }
  p {
    @apply text-gray-400;
  }
  blockquote {
    @apply p-4 my-4 border-s-4 border-gray-500 bg-gray-800;
  }
  ul {
    @apply space-y-1 list-disc list-inside text-gray-400;
  }
  ol {
    @apply space-y-1 list-decimal list-inside text-gray-400;
  }
  a {
    @apply font-medium text-blue-500 hover:underline;
  }
}

.glow {
  filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #fff);
}

/* .glow:hover {
  filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 20px #fff);
} */

.glow:active {
  filter: drop-shadow(0 0 15px #fff) drop-shadow(0 0 20px #fff);
}

.count-day-bg {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(254, 224, 202, 1) 51%,
    rgba(192, 228, 244, 1) 100%
  );
}

.shadow2 {
  color: white;
  -webkit-text-stroke: 1px #f8f8f8;
  text-shadow: 3px 3px #5caab7;
}

.bottom-text {
  transform: rotateX(60deg);
}

.graph-paper {
  --s: 48px; /* control the size*/
  --c1: rgb(75 85 99);
  --c2: rgb(17 24 39);
  
  --_g: #0000 90deg,var(--c1) 0;
  background: 
    conic-gradient(from 90deg at 1px 1px,var(--_g)),
    conic-gradient(from 90deg at 0.5px 0.5px,var(--_g)),
    var(--c2);
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5);
}

